.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(48, 48, 48);
    padding: 30px;
    height: 250px;
    width: 400px;
    border-radius: 15px;
}

.modal h1 {
    margin-bottom: 50px;
}

.modal h3 {
    margin-bottom: 30px;
}

.modal button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 179, 0);
}

.modal button:hover {
    cursor: pointer;
}