@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bruno Ace', sans-serif, Helvetica;
  color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .modal-container.active {
  pointer-events: all;
  opacity: 1;
}